* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

body {
    background-color: #ebebeb;
    width: 100%;
}
body::-webkit-scrollbar {
    width: 15px;
}
body::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}
.banner img {
    width: 100%;
}

.main-container {
    margin: 0 auto;
    padding: 10px 20px;
    width: 90%;
}

.last-visit , .offers {
    display: flex;
    flex-wrap: wrap;
}

.title-products {
    border-top: 1px solid gray;
    padding: 15px 0px;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.product {
    border-radius: 5px;
    background-color: #fff;
    margin: 10px 0px;
    padding: 5px;
    text-decoration: none;
    color: black;
}
.product:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.product img {
    padding: 10px 0px;
    width: 100%;
}
.main-product i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: -15px;
    transition: transform 1s;
}
.main-product {
    position: relative;
}
.product:hover i {
    transform: rotate(-90deg);
}

.price-discount {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.price {
    padding-right: 5px;
    text-decoration: none;
}

.products-container a {
    text-decoration: none;
    color: black;
}

.product i, .discount {
    color: green;
}

.description , .price-discount {
    padding-bottom: 5px;
}

.description {
    display: none;
}
.product:hover .description {
    display: flex;
}
@media (min-width:361px) {
    .products-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .products-container .product {
        width: 45%;
    }
    .title-products {
        padding: 25px 0px;
        font-size: 25px;
    }
    .product .price {
        font-size: 15px;
    }
}
@media (min-width:769px) {
    .products-container .product {
        width: 22%;
    }
    .title-products {
        padding: 30px 0px;
        font-size: 30px;
    }
}

/*
main {
    width:90%;
    margin: 0 auto;
}
main section article {
    margin: 10px 0;
}
main section article img {
    width: 100%;
}

main section article i{
    color: #39b54a;
}

article div.main-article .discount {
    color: #39b54a;
}

main section article i {
    font-size: 16px;
}

article div.main-article .truck-icon-container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid green;
}
main section h3 {
    margin: 20px 0;
}

article div.main-article {
    width: 100%;
    border-top: 1px solid black;
    padding: 10px;
}
h3, .description {
    color: #666;
}
article div.main-article{
    width: 100%;
}

main section article{
    background-color: #fff;
}

@media (min-width: 460px) {
    main {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .logo-container {
        flex-direction: row;
    }

    .logo-bar-container {
        width: 50%;
    }

    .card-container {
        width: 50%;
        display: flex;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .card-container h2 {
        font-size: 17px;
    }
    .burger-container {
        display: none;
    }
    .menu-container {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    main {
        border: 3px solid red;
        width: 100%;
    }

    .last-visit, .offers {
        border: 2px solid blue;
    }

    .main-article {
        border: 15px;
    }


    ul {
        /*border: 3px solid orange;
        display: flex;
        width: 45%;
        justify-content: space-between;
    }
    .products{
        border: 2px solid black;
        display: flex;
        /*padding: 10px;
    }

    

    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width: 1024px) {
    .card-container h2 {
        font-size: 22px;
    }
    .products{
        display: flex;
    }
}*/