* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

body {
    background-color: #ebebeb;
    width: 100%;
}

.banner img {
    width: 100%;
}

.main-container {
    padding: 10px;
    width: 100%;
}

.last-visit , .offers {
    /*border: 3px solid green;*/
    padding: 5px;
    border-bottom: 1px solid rgb(112, 109, 109);
}

.last-visit h3, .offers h3 {
    text-align: center;
    font-size: 18px;
}

.product {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 10px 20px;
    margin: 20px;
}
.product img {
    width: 100%;
}
.truck-icon-container {
    display: flex;
    justify-content: flex-end;
}
.truck-icon-container i {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    border: 1px solid green;
    justify-content: center;
    border-radius: 50%;
    font-size: 15px;
    
}

.price-discount {
    display: flex;
    justify-content: flex-start;
}
.price {
    padding-right: 5px;
}
.truck-icon-container, .discount {
    color: green;
}

.description , .price-discount {
    padding-bottom: 5px;
}

@media (min-width:768px) {
    .main-container {
        font-size: 16px;
        padding: 40px 10px;
    }
    .last-visit h3, .offers h3 {
        padding: 10px 0px;
        text-align: center;
        font-size: 30px;
    }

    .products-container {
        display: flex;
        padding: 0px 60px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .product {
        width: 40%;
    }
    .truck-icon-container i {
        width: 40px;
        height: 40px;
        font-size: 18px; 
    }
}

@media (min-width:990px) {
    .main-container {
        padding: 50px 50px;
    }
    .products-container {
        display: flex;
        flex-wrap: nowrap;
        padding: 0px 20px;
    }
    
}
/*
main {
    width:90%;
    margin: 0 auto;
}
main section article {
    margin: 10px 0;
}
main section article img {
    width: 100%;
}

main section article i{
    color: #39b54a;
}

article div.main-article .discount {
    color: #39b54a;
}

main section article i {
    font-size: 16px;
}

article div.main-article .truck-icon-container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid green;
}
main section h3 {
    margin: 20px 0;
}

article div.main-article {
    width: 100%;
    border-top: 1px solid black;
    padding: 10px;
}
h3, .description {
    color: #666;
}
article div.main-article{
    width: 100%;
}

main section article{
    background-color: #fff;
}

@media (min-width: 460px) {
    main {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .logo-container {
        flex-direction: row;
    }

    .logo-bar-container {
        width: 50%;
    }

    .card-container {
        width: 50%;
        display: flex;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .card-container h2 {
        font-size: 17px;
    }
    .burger-container {
        display: none;
    }
    .menu-container {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    main {
        border: 3px solid red;
        width: 100%;
    }

    .last-visit, .offers {
        border: 2px solid blue;
    }

    .main-article {
        border: 15px;
    }


    ul {
        /*border: 3px solid orange;
        display: flex;
        width: 45%;
        justify-content: space-between;
    }
    .products{
        border: 2px solid black;
        display: flex;
        /*padding: 10px;
    }

    

    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width: 1024px) {
    .card-container h2 {
        font-size: 22px;
    }
    .products{
        display: flex;
    }
}*/