<!DOCTYPE html>
<html>
    <%- include('./partials/head') %> 
</head>
    <body>
        <%- include('./partials/header') %> 
        </header>
        <main class="main-register">
            <div class="register-container">
                <div class="title-register">
                    <h3>Crear Cuenta</h3>
                </div>
                <form action="">
                    <div class="item-register"><label for="name">Nombre Completo</label></div>
                    <div class="item-register"><input type="text" placeholder="Pepito al Horno"></div>
                    <div class="item-register"><label for="user">Nombre de Usuario</label></div>
                    <div class="item-register"><input type="text" placeholder="pepito123"></div>
                    <div class="item-register"><label for="email">Email</label></div>
                    <div class="item-register"><input type="email" placeholder="pepito123@gmail.com"></div>
                    <div class="item-register"><label for="name">Fecha de Nacimiento</label></div>
                    <div class="item-register-date"><input type="date"></div>
                    <div class="item-register"><label for="user">Domicilio</label></div>
                    <div class="item-register"><input type="text" placeholder="lomas 123"></div>
                    <div class="item-register"><label for="">Perfil del Usuario</label></div>
                    <div class="item-register-profile">
                        <input type="radio" name="profile" value="buy" id="buy">
                        <label for="buy">Comprador</label>
                        <input type="radio" name="profile" value="sell" id="sell">
                        <label for="sell">Vendedor</label>
                    </div>
                    <div class="item-register"><label for="interests">Intereses</label></div>
                    <div class="item-register-interests">
                        <div>
                            <input type="checkbox" name="interests" value="a" id="a">
                            <label for="a">Electro</label>
                        </div>
                        <div>
                            <input type="checkbox" name="interests" value="b" id="b">
                            <label for="b">Moda</label>
                        </div>
                        <div>
                            <input type="checkbox" name="interests" value="c" id="c">
                            <label for="c">Hogar</label>
                        </div>
                        <div>
                            <input type="checkbox" name="interests" value="d" id="d">
                            <label for="d">Juguetería</label>
                        </div>
                        <div>
                            <input type="checkbox" name="interests" value="e" id="e">
                            <label for="e">Vida sana</label>
                        </div>
                    </div>
                    <div class="item-register"><label for="img-profile">Imagen de Perfil</label></div>
                    <div class="item-register-file"><input type="file"></div>
                    <div class="item-register"><label for="pass">Contraseña</label></div>
                    <div class="item-register"><input type="password" placeholder="********"></div>
                    <div class="item-register"><label for="pass">Confirmar contraseña</label></div>
                    <div class="item-register"><input type="password" placeholder="********"></div>
                    <div class="item-register-submit-reset">
                        <div class="submit-register"><input type="submit" value="CREAR CUENTA"></div>
                        <div class="reset-register"><input type="reset" value="BORRAR"></div>
                    </div>
                </form>
            </div>
        </main>
        <%- include('./partials/footer') %> 
        </footer>
    </body>
</html>