<footer>
    <div class="main-footer">
        <article class="item-footer">
            <i class="fas fa-credit-card"></i>
            <h4>Paga con tajeta o efectivo</h4>
            <p>Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="item-footer">
            <i class="fas fa-gift"></i>
            <h4>Envio gratis desde los $ 2.500</h4>
            <p>Solo por estar registrado en MercadoLiebre tenes envios gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>
        </article>
        <article class="item-footer">
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad de principio a fin</h4>
            <p>¡No te gusta? Devolveo. En ercaliebre no hay nad que no pueda hacer porque estas siempre protegido</p>
        </article>
    </div>