<header>
    <div class="header-container">
        <div class="logo-container">
            <div class="logo-bar-container">
                <!--LOGO-->
                <div class="logo"> 
                    <img src="/images/logo-mercado-liebre.svg" alt="imagen del logo">
                </div>
                <!--Buscador de productos-->
                <div class="search-button-container">
                    <div class="search-container">
                        <input class="search-input" type="text" placeholder="Buscar productos ...">
                        <button class="search-button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="user-container">
                    <div class="user"><i class="fas fa-user"></i></div>
                </div>
                <div class="cart-container">
                    <div class="cart"><i class="fas fa-shopping-cart"></i></div>
                </div>
            </div>
        </div>
        <div class="card-container">
            <i class="fas fa-hand-holding-usd"> Envios a todo el pais.</i>
        </div>
        <div class="burger-container">
            <div class="burger-menu"><i class="fas fa-bars"></i></div>
        </div>

        <div class="menu-container">
            <div class="menu-item">
                <ul class="menu-ul">
                    <li>Categorias > </li>
                    <li>Ofertas </li>
                    <li>Historial </li>
                    <li>Supermercado </li>
                    <li>Moda </li>
                    <li>Vender </li>
                    <li>Ayuda </li>
                </ul>
            </div>
            <div class="menu-item">
                <ul class="menu-ul">
                    <li><a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="/">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </div>
        </div>
    </div>